.root {
  position: relative;
  background: none;
  pointer-events: auto;
  transition-duration: 0.1s;
  transition-property: background;
  cursor: pointer;
  flex-direction: row;
  display: flex;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 0px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-right: 0px;
  }
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 12px;
  padding-right: 12px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor2_blue {
  background: #0091ff;
}
.rootcolor2_green {
  background: #30a46c;
}
.rootcolor2_yellow {
  background: #f5d90a;
}
.rootcolor2_red {
  background: #e54d2e;
}
.rootcolor2_black {
  background: #000000d9;
}
.rootcolor2_white {
  background: #ffffff;
}
.rootcolor2_softBlue {
  background: #edf6ff;
}
.rootcolor2_softGreen {
  background: #e9f9ee;
}
.rootcolor2_softYellow {
  background: #fffbd1;
}
.rootcolor2_softRed {
  background: #fff0ee;
}
.rootcolor2_softSand {
  background: #eeeeec;
}
.rootcolor2_clear {
  background: #ffffff00;
}
.rootcolor2_link {
  background: #ffffff00;
}
.rootcolor2_cyan {
  background: #00ffdd;
}
.rootshowStartIcon_shape_rounded {
  padding-left: 16px;
}
.rootshape_rounded_showEndIcon {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.root:hover {
  background: #000000cc;
}
.rootcolor2_blue:hover {
  background: #369eff;
}
.rootcolor2_green:hover {
  background: #3cb179;
}
.rootcolor2_yellow:hover {
  background: #ffef5c;
}
.rootcolor2_red:hover {
  background: #ec5e41;
}
.rootcolor2_black:hover {
  background: #7f7e77;
}
.rootcolor2_white:hover {
  background: #0000001a;
}
.rootcolor2_softBlue:hover {
  background: #e1f0ff;
}
.rootcolor2_softGreen:hover {
  background: #ddf3e4;
}
.rootcolor2_softYellow:hover {
  background: #fff8bb;
}
.rootcolor2_softRed:hover {
  background: #ffe6e2;
}
.rootcolor2_softSand:hover {
  background: #e9e9e6;
}
.rootcolor2_clear:hover {
  background: #ffffff29;
}
.rootcolor2_clear:hover > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor2_clear:hover > :global(.__wab_flex-container) > *,
.rootcolor2_clear:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootcolor2_clear:hover > :global(.__wab_flex-container) > picture > img,
.rootcolor2_clear:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.rootcolor2_link:hover {
  background: #ffffff00;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:active {
  background: #000000cc;
}
.rootcolor2_blue:active {
  background: #52a9ff;
}
.rootcolor2_green:active {
  background: #4cc38a;
}
.rootcolor2_yellow:active {
  background: #f0c000;
}
.rootcolor2_red:active {
  background: #f16a50;
}
.rootcolor2_black:active {
  background: #a1a09a;
}
.rootcolor2_white:active {
  background: #0000001a;
}
.rootcolor2_softBlue:active {
  background: #cee7fe;
}
.rootcolor2_softGreen:active {
  background: #ccebd7;
}
.rootcolor2_softYellow:active {
  background: #fef2a4;
}
.rootcolor2_softRed:active {
  background: #fdd8d3;
}
.rootcolor2_softSand:active {
  background: #e3e3e0;
}
.rootcolor2_clear:active {
  background: #ffffff29;
}
.rootcolor2_link:active {
  background: #ffffff00;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor2_yellow {
  color: #35290f;
}
.slotTargetStartIconcolor2_white {
  color: #35290f;
}
.slotTargetStartIconcolor2_softBlue {
  color: #006adc;
}
.slotTargetStartIconcolor2_softGreen {
  color: #18794e;
}
.slotTargetStartIconcolor2_softYellow {
  color: #946800;
}
.slotTargetStartIconcolor2_softRed {
  color: #ca3214;
}
.slotTargetStartIconcolor2_softSand {
  color: #706f6c;
}
.slotTargetStartIconcolor2_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor2_link {
  color: #0091ff;
}
.rootcolor2_link:hover .slotTargetStartIconcolor2_link {
  color: #0081f1;
}
.rootcolor2_link:active .slotTargetStartIconcolor2_link {
  color: #006adc;
}
.svg__z4G40 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.contentContainercolor2_cyan {
  background: none;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrencolor2_blue {
  color: #ffffff;
}
.slotTargetChildrencolor2_green {
  color: #ffffff;
}
.slotTargetChildrencolor2_yellow {
  color: #35290f;
}
.slotTargetChildrencolor2_red {
  color: #ffffff;
}
.slotTargetChildrencolor2_black {
  color: #ffffff;
}
.slotTargetChildrencolor2_white {
  color: #1b1b18;
}
.slotTargetChildrencolor2_softBlue {
  color: #006adc;
}
.slotTargetChildrencolor2_softGreen {
  color: #18794e;
}
.slotTargetChildrencolor2_softYellow {
  color: #946800;
}
.slotTargetChildrencolor2_softRed {
  color: #ca3214;
}
.slotTargetChildrencolor2_softSand {
  color: #1b1b18;
}
.slotTargetChildrencolor2_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor2_link {
  color: #0091ff;
}
.rootcolor2_white:hover .slotTargetChildrencolor2_white {
  color: #1b1b18;
}
.rootcolor2_link:hover .slotTargetChildrencolor2_link {
  color: #0081f1;
}
.rootcolor2_link:hover .slotTargetChildrencolor2_link > :global(.__wab_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_expr_html_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot-string-wrapper),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor2_link:hover
  .slotTargetChildrencolor2_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor2_link:active .slotTargetChildrencolor2_link {
  color: #006adc;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor2_yellow {
  color: #35290f;
}
.slotTargetEndIconcolor2_white {
  color: #35290f;
}
.slotTargetEndIconcolor2_softBlue {
  color: #006adc;
}
.slotTargetEndIconcolor2_softGreen {
  color: #18794e;
}
.slotTargetEndIconcolor2_softYellow {
  color: #946800;
}
.slotTargetEndIconcolor2_softRed {
  color: #ca3214;
}
.slotTargetEndIconcolor2_softSand {
  color: #706f6c;
}
.slotTargetEndIconcolor2_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor2_link {
  color: #0091ff;
}
.rootcolor2_link:hover .slotTargetEndIconcolor2_link {
  color: #0081f1;
}
.rootcolor2_link:active .slotTargetEndIconcolor2_link {
  color: #006adc;
}
.svg__qj1Wy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
