@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.btn-standard {
  @apply bg-white text-black hover:bg-whitesmoke font-light py-1.5 px-3.5 rounded font-ubuntu cursor-pointer text-sm;
}

.file-btn-standard {
  @apply bg-white text-black hover:bg-whitesmoke font-extralight py-1.5 px-3.5 rounded font-ubuntu cursor-pointer text-sm;
}

.gui-container {
  position: absolute;
  top: 95px; /* Adjust this value if the header height changes */
  left: calc(100% - var(--gui-width));
  width: 100%; /* or any specific width as per your design */
  z-index: 10; /* Ensure it's above other content but below fixed elements if needed */
}
