.skeumorphictogglebutton {
  width: 64px;
  height: 31px;
  display: block;
  position: relative;
}
.base3 {
  box-shadow: inset 0px 0.175px 4.12px 0px rgba(0, 0, 0, 0.27),
    inset 0.876px 0.876px 1.095px 0px rgba(0, 0, 0, 0.469),
    inset 0.438px 0.438px 1.753px 0px rgba(0, 0, 0, 0.27);
  background: rgba(56, 56, 56, 1);
  width: 100%;
  height: 101.6%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 21.917px;
}
.base3micToggleOn {
  display: none;
}
.outsideStroke3 {
  width: 100%;
  height: 101.6%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  box-shadow: none;
  filter: none;
  transform: none;
  transition-property: all;
  transition-duration: 1s;
  background: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 21.917px;
  border: 2px solid #a8a8a8;
}
.outsideStroke3micToggleOn {
  display: none;
}
.insideStroke3 {
  transform: translate(-0.0030000000000001137px, -0.3979999999999997px);
  width: 84.38%;
  height: 72.1%;
  display: block;
  position: absolute;
  top: 16.38%;
  left: 7.81%;
  border-radius: 21.917px;
}
.insideStroke3micToggleOn {
  display: none;
}
.textFrame3 {
  transform: translate(-0.04699999999999971px, -0.3979999999999997px);
  width: 84.38%;
  height: 72.1%;
  display: block;
  position: absolute;
  top: 16.38%;
  left: 7.81%;
  overflow: hidden;
  border-radius: 21.917px;
}
.textFrame3micToggleOn {
  display: none;
}
.text___4FJz7 {
  display: block;
  font-size: 10.52px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0.11em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 14.08%;
  left: 48.14%;
  transform: translate(-0.13700000000000045px, -0.23899999999999988px);
}
.img__r9EmC {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 3.243px 2.805px 0px rgba(0, 0, 0, 0.55);
  transform: translate(0.2679999999999998px, 0.04900000000000038px);
  width: 19px;
  height: 19px;
  display: block !important;
  top: 19.66%;
  left: 9.37%;
  mix-blend-mode: screen;
}
.img__r9EmC > picture > img {
  object-fit: cover;
}
.imgmicToggleOn__r9EmCjMud1 {
  display: none !important;
}
.property1On {
  width: 64px;
  height: 31px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.property1OnmicToggleOn {
  display: block;
}
.base {
  box-shadow: inset 0px 0.175px 4.12px 0px rgba(0, 0, 0, 0.27),
    inset 0.876px 0.876px 1.095px 0px rgba(0, 0, 0, 0.469),
    inset 0.438px 0.438px 1.753px 0px rgba(0, 0, 0, 0.27);
  background: rgba(56, 56, 56, 1);
  width: 100%;
  height: 101.6%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 21.917px;
}
.outsideStroke {
  width: 100%;
  height: 101.6%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 21.917px;
  border: 2px solid #a8a8a8;
}
.insideStroke {
  transform: translate(-0.0030000000000001137px, -0.3979999999999997px);
  width: 84.38%;
  height: 72.1%;
  display: block;
  position: absolute;
  top: 16.38%;
  left: 7.81%;
  border-radius: 21.917px;
}
.textFrame {
  transform: translate(-0.04699999999999971px, -0.3979999999999997px);
  width: 84.38%;
  height: 72.1%;
  display: block;
  position: absolute;
  top: 16.38%;
  left: 7.81%;
  overflow: hidden;
  border-radius: 21.917px;
}
.text__aN3Pw {
  text-shadow: 0px 0.175px 6.312px rgba(0, 255, 177, 1);
  display: block;
  font-size: 10.52px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0.11em;
  line-height: 1.5;
  color: rgba(0, 255, 177, 1);
  position: absolute;
  top: 14.08%;
  left: 20.36%;
  transform: translate(-0.3049999999999997px, -0.23899999999999988px);
}
.img__zNJxL {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 3.243px 2.805px 0px rgba(0, 0, 0, 0.55);
  transform: translate(0.3200000000000003px, 0.04900000000000038px);
  width: 19px;
  height: 19px;
  top: 19.66%;
  left: 60.93%;
  mix-blend-mode: screen;
  display: none !important;
}
.img__zNJxL > picture > img {
  object-fit: cover;
}
.imgmicToggleOn__zNJxLjMud1 {
  display: block !important;
}
.maskGroup {
  width: 64px;
  height: 31px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #00ffb2;
  opacity: 0.319;
  filter: blur(6.312);
  transform: translate(-0.4500000000000002px, 0.4019999999999999px);
  width: 51px;
  height: 42px;
  top: 3.27%;
  left: 6.25%;
  display: none;
}
.svgmicToggleOn {
  display: block;
}
