.story {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.story > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .story > * {
    grid-column: 4;
  }
}
.siteNavBar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.freeBox__iIz4L {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: linear-gradient(#fff1e5bf, #fff1e5bf),
    url("https://images.squarespace-cdn.com/content/v1/5ca28b6c34c4e276b1e6efdc/1567338274582-V6V9R741A6IIIJREYX4K/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/image-asset.jpeg?format=2500w")
      left 50% top 50% / cover repeat;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__lsDbK {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 256px;
  min-width: 0;
  padding: 64px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lsDbK {
    padding-top: 64px;
    padding-bottom: 0px;
  }
}
.freeBox___0U9BW {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1080px;
  width: 100%;
  min-width: 0;
}
.freeBox___0U9BW > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___0U9BW > :global(.__wab_flex-container) > *,
.freeBox___0U9BW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0U9BW > :global(.__wab_flex-container) > picture > img,
.freeBox___0U9BW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0U9BW {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0U9BW > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0U9BW > :global(.__wab_flex-container) > *,
  .freeBox___0U9BW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0U9BW > :global(.__wab_flex-container) > picture > img,
  .freeBox___0U9BW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bIUld {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bIUld > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bIUld > :global(.__wab_flex-container) > *,
.freeBox__bIUld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bIUld > :global(.__wab_flex-container) > picture > img,
.freeBox__bIUld
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__sSbnn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sSbnn > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sSbnn > :global(.__wab_flex-container) > *,
.freeBox__sSbnn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sSbnn > :global(.__wab_flex-container) > picture > img,
.freeBox__sSbnn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___1W5D {
  font-size: 60px;
  line-height: 1;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1W5D {
    font-size: 54px;
  }
}
.text___3QJbA {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3QJbA {
    font-size: 20px;
  }
}
.freeBox__cr903 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cr903 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cr903 > :global(.__wab_flex-container) > *,
.freeBox__cr903 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cr903 > :global(.__wab_flex-container) > picture > img,
.freeBox__cr903
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.visualizerButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rsYoy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jFkhu {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jFkhu {
    font-family: "Ubuntu", sans-serif;
  }
}
.svg__g9Dwo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___7QqGr {
  display: flex;
  position: relative;
  height: 400px;
}
.freeBox___1Yw1P {
  display: block;
  width: 600px;
  height: 600px;
  background: url("/assets/plasmic/baryon/images/festivalGirlHologramspng.png") left 50% top 50% / cover;
  filter: none;
  backdrop-filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 50%;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 0px;
  min-height: 400px;
  margin-bottom: 64px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 64px 64px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    padding-right: 32px;
    padding-left: 32px;
    height: auto;
    margin-bottom: 32px;
    padding-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Lora", serif;
  min-width: 0;
  padding: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 32px;
    margin-top: 32px;
    padding: 0px 0px 16px;
  }
}
.text___7Aku7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  padding: 0px 0px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 32px;
  }
}
.text__nfmWq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nfmWq {
    font-size: 20px;
  }
}
.freeBox___3JtRa {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___3JtRa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___3JtRa > :global(.__wab_flex-container) > *,
.freeBox___3JtRa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3JtRa > :global(.__wab_flex-container) > picture > img,
.freeBox___3JtRa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lQx7B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lQx7B {
    width: 100%;
  }
}
.img {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-height: 320px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin-bottom: 0px;
  flex-grow: 1;
}
.img > picture > img {
  object-fit: cover;
}
.column__mYys {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mYys {
    width: 100%;
  }
}
.freeBox__jX1Qq {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1c1c1e;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 64px;
}
.freeBox__jX1Qq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jX1Qq > :global(.__wab_flex-container) > *,
.freeBox__jX1Qq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jX1Qq > :global(.__wab_flex-container) > picture > img,
.freeBox__jX1Qq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jX1Qq {
    padding: 64px 32px;
  }
}
.copy {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox__bT5Th {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bT5Th > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bT5Th > :global(.__wab_flex-container) > *,
.freeBox__bT5Th > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bT5Th > :global(.__wab_flex-container) > picture > img,
.freeBox__bT5Th
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__wEuxi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #ffffffd9;
}
.text__f3Qre {
  color: #ffffffd9;
  font-family: "Lora", serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__f3Qre {
    font-size: 36px;
  }
}
.text___7FEIq {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7FEIq {
    font-family: "Ubuntu", sans-serif;
  }
}
.freeBox__fkGZq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fkGZq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fkGZq > :global(.__wab_flex-container) > *,
.freeBox__fkGZq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fkGZq > :global(.__wab_flex-container) > picture > img,
.freeBox__fkGZq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.pluginButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ywgWq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mwAm2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mwAm2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
  }
}
.svg__hhj2R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.baryonFooter:global(.__wab_instance) {
  position: relative;
}
